@media (max-width: 1100px) {
    .faq__content {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
}

@media (max-width: 768px) {
    * {
        /* max-width: 100%; */
    }
    body {
        overflow-x: hidden;
    }
    .header__menu {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .header__burger {
        display: flex;
        position: relative;
        z-index: 30;
    }
    .header__nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        /* background: #fff; */
        background: rgba(18, 18, 20, 0.8);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        /* transition: .4s; */
        transition: top .4s cubic-bezier(0.77, 0, 0.175, 1), opacity .3s;
        padding: 120px 20px;
        z-index: 20;
    }
    .header__nav.active {
        top: 0;
    }
    .header__menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .header__menu li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px 0;
        opacity: 0;
        transform: translateX(20px);
        transition: all .5s ease;
    }
    .header__nav.active .header__menu li {
        opacity: 1;
        transform: translateY(0);
    }
    .header__nav.active .header__menu li:nth-child(1) {
        transition-delay: .1s;
    }
    .header__nav.active .header__menu li:nth-child(2) {
        transition-delay: .2s;
    }
    .header__nav.active .header__menu li:nth-child(3) {
        transition-delay: .3s;
    }
    .header__nav.active .header__menu li:nth-child(4) {
        transition-delay: .4s;
    }
    .header__nav.active .header__menu li:nth-child(5) {
        transition-delay: .5s;
    }
    
    .header__contacts {
        display: none;
    }
    .header__mobile__contact {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .header__phone {
        font-weight: 600;
        font-size: 20px;
        line-height: 105%;
        letter-spacing: 0.02em;
        color: #fff;
    }
    .header__callback__mobile {
        border-radius: 9px;
        width: 177px;
        height: 40px;
        background: rgba(255, 255, 255, 0.4);
        /* background: linear-gradient(135deg, #ffffff, #dcdcdc); */
    }
    /* .header__callback__mobile:hover {
        background: #037e8c;
    } */
    .header__callback__mobile.active {
        transform: scale(0.97);
        transition: .2s;
        background: #037e8c;
    }
    .header__menu a:active {
        opcity:0.6
    }
    .hero {
        height: auto;
        padding: 60px 0;
        min-height: auto;

    }
    .hero .container {
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .hero__content {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        margin: 40px 0;
    }
    .hero__title {
        font-size: 28px;
    }
    .advantages__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .advantages__item h3 {
        font-size: 14px;
    }
    .advantages__item p {
        font-size: 12px;
    }
    .routes {
        width: 100%;
    }
    .routes__title {
        font-size: 24px;
    }
    .routes__name {
        display: flex;
        /* width: 100%; */
        font-size: 24px;
    }
    .routes__content {
        position: relative;
        width: 100%;
        order: 1;
    }
    .routes__content::before {
        position: absolute;
        top: -8px;
        right: 10px;
        width: 40px;
    }
    .routes__item {
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }
    .routes__info {
        max-width: 100%;
        width: 100%;
    }
    .routes__price {
        font-size: 18px;
    }
    .routes__features li {
        font-size: 14px;
    }
    .routes__route_title {
        font-size: 16px;
    }
    .routes__list {
        /* flex-direction: column; */
        gap: 40px;
    }
    .routes__buttons {
        display: flex;
        gap: 10px;
        padding: 0 10px;
        order: 2;
    }
    .routes__btn {
        flex: 1;
        text-align: center;
    }
    .routes__gallery {
        padding: 20px;
        width: 100%;
        order: 3;
    }
    .routes__track img {
        width: 100%;
        /* max-width: 100%; */
        height: auto;
        scroll-snap-align: start;
    }
    
    .about__video > video {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    .team__cards {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }    
    .team__card {
        width: 100%;
        height: auto;
    }
    .team::before, .team::after {
        display: none;
    }
    .conditions__cards {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .offers__cards {
        flex-direction: column;
    }
    .offers__card {
        flex-direction: column;
    }
    .offers__img, .offers__content {
        width: 100%;
    }
    .offers__img {
        height: 200px;
    }
    .certificate__content {
        flex-direction: column;
        gap: 30px;
    }
    .certificate__text {
        max-width: 100%;
    }
    .certificate__content {
        gap: 30px;
    }
    .certificate__img img {
        width: 100%;
        height: auto;
    }
    .certificate__title {
        font-size: 24px;
    }
    .certificate__subtitle {
        font-size: 14px;
    }
    .certificate__text {
        font-size: 14px;
    }
    .extra__title {
        font-size: 24px;
    }
    .extra__text {
        font-size: 14px;
    }
    .extra__cards {
        grid-template-columns: 1fr 1fr;
        /* gap: 16px; */
    }
    .extra__card img {
        height: auto;
    }
    .footer__top .container {
        flex-direction: column;
        gap: 30px;
    }
    .footer__content {
        flex-direction: column;
        gap: 30px;
    }
    .footer__contact__list {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
    }
    .footer__nav a {
        text-align: right;
    }
    .footer__nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    .footer__nav__wrapper {
        justify-content: center;
    }
    .modal__content {
        max-width: 500px;
    }
}
@media (max-width: 480px) {
    .extra__cards {
        grid-template-columns: 1fr;
    }
    .advantages__wrapper {
        grid-template-columns: 1fr;
    }
}
