body {
    font-family: "Montserrat", sans-serif;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 10;
}
.header__logo img {
    height: 80px;
    width: auto;
}
.header__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 105%;
    text-transform: uppercase;
    color: #fff;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    gap: 30px;
}
.header__menu a {
    color: #fff;
    transition: .3s;
}
.header__menu a:hover {
    color: #037e8c;
    border-bottom: 2px solid #037e8c;
}
.header__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.header__phone {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 105%;
    letter-spacing: 0.02em;
    color: #fff;
}
.header__callback {
    font-weight: 600;
    font-size: 14px;
    line-height: 105%;
    letter-spacing: 0.02em;
    color: #fff;
    border-radius: 9px;
    width: 177px;
    height: 40px;
    background: rgba(255, 255, 255, 0.4);
    transition: .3s;
}
.header__callback:hover {
    background: #037e8c;
    color: #fff;
    cursor: pointer;
    transform: translateY(-2px);
}
.hero {
    position: relative;
    min-height: 800px;
    background-image: url("../media/hero-bg.webp");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}
.hero .container {
    display: flex;
    align-items: center;
    height: 100%;
}
.hero__content {
    /* border: 2px solid red; */
    max-width: 644px;
    margin-top: 120px;
    margin-bottom: 192px;
}
.hero__title {
    font-weight: 800;
    font-size: 64px;

    line-height: 125%;
    letter-spacing: 0.04em;
    color: #fff;
}
.hero__desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 109%;
    color: #fff;
    margin-top: 35px;
    margin-bottom: 80px;
}
.hero__btn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 30px;
    border-radius: 9px;
    min-width: 200px;
    height: 55px;
    background: #037e8c;
    font-weight: 600;
    font-size: 16px;
    line-height: 109%;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.hero__btn:hover {
    background: #0496a6;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.hero__btn img {
    transition: .3s;
}
.hero__btn:hover img {
    transform: translateX(5px);
}

/* OFFERS */

.offers {
    padding: 80px 0;
    background-image: url(../media/offers-bg-left.webp), url(../media/offers-bg-right.webp);
    background-repeat: no-repeat, no-repeat;
    background-position: -30px -100px, calc(100% + 60px) 160px;
    overflow: hidden;
}
.offers .container {
    overflow: hidden;
}
.offers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #373737;
    margin-bottom: 45px;
}

.offers__cards {
    display: flex;
    gap: 30px;
}
.offers__card {
    display: flex;
    width: 100%;
    min-height: 333px;
    gap: 30px;
    max-width: 636px;
    background-color: #f4f4f4;
    border-radius: 9px;
    background-image: url(../media/offers-bg-1.webp);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.offers__img {
    width: 45%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 9px;
}
.offers__content {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding-top: 26px;
    padding-right: 15px;
}
.offers_card_title {
    font-weight: 800;
    font-size: 36px;
    line-height: 139%;
    color: #037e8c;
}
.offers__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 139%;
    color: #037e8c;
    margin-bottom: 12px;
}
.offers__text {
    max-width: 288px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #373737;
    margin-top: 12px;
    margin-bottom: 24px;
}
.offers__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.50px solid #037e8c;
    border-radius: 9px;
    padding: 14px 45px;
    width: fit-content;
    background: #f4f4f4;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #037e8c;
    cursor: pointer;
    transition: .3s;
}
.offers__btn:hover {
    background: #037e8c;
    color: #fff;
    transform: translateY(-1.5px);
}
